<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
    ErrorDocument 404 /task1-weatherApp/public/404.php


# Rewrite rule for Accessing fetchCustomers.php
RewriteRule ^task2/fetch$ /task2/fetchCustomers.php [NC,L]

</IfModule>
